.cart-img {
  width: 100%;
  align-self: center;
  margin: auto;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.cart-img-container {
  align-self: center;
  padding: 0 !important;
}

.cart-title {
  font-size: 1rem;
  color: #e30428;
  line-height: 1.4;
}

.cart-container {
  border: 1px solid rgba(128, 128, 128, 0.763);
  border-bottom: 5px solid rgba(124, 124, 124, 0.779);
  border-radius: 10px;
  padding: 6px !important;
}

.cart-container:hover {
  border: 1px solid #e30428 !important;
  border-bottom: 5px solid #e30428 !important;
}

.cart-text {
  font-size: 0.9rem;
  padding: 0 !important;
}

.cart-text h6{
  font-size: 0.8rem;
}

.delete-btn {
  font-weight: 500;
  color: rgb(70, 70, 70);
  cursor: pointer;
}

.delete-btn:hover {
  color: #e30428;
}

.empty-cart-container {
  min-height: 80vh;
}

.form-control:focus {
  border-color: #e30428 !important;
  box-shadow: 0px 0px 0px #e30428 !important;
}

@media (min-width: 1200px) {
  .cart-section {
    display: flex;
  }
}
