.cart-img {
    width: 60%;
    align-self: center;
    margin: auto;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.cart-img-container {
    align-self: center;
}

.cart-title {
    font-size: 1rem;
    color: #e30428;
    line-height: 1.4;
}

.cart-container {    
        border: 1px solid rgba(128, 128, 128, 0.763);
        border-bottom: 5px solid rgba(124, 124, 124, 0.779) ;
        border-radius: 10px ;  
        padding: 6px;        
}

.cart-container:hover {
    border: 1px solid #e30428 !important;
    border-bottom: 5px solid #e30428 !important; 
    background-color: rgba(235, 210, 210, 0.29);
}

.delete-btn {
    font-weight: 500;
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.delete-btn:hover {
    color: #e30428;
}