.shop-img {
    padding: .5rem;
    object-fit: contain;
    cursor: pointer;
    max-width: 202px;
    max-height: 202px;
}

.card-title {
    height: 50px;
    font-size: .95rem;
    color: #e30428;
}

.card-price {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.card-img {
    min-height: 200px;
}

.card {
    border: 1px solid rgba(128, 128, 128, 0.763)!important;
    border-bottom: 5px solid rgba(124, 124, 124, 0.779) !important;
    border-radius: 10px !important;
}

.card:hover {
    border: 1px solid #e30428 !important;
    border-bottom: 5px solid #e30428 !important;
}

.vermas-btn {
    font-weight: 500;
    color: rgb(70, 70, 70);
    cursor: pointer;
    text-decoration: none;
}

.vermas-btn:hover {
    color: #e30428;
}