.navbar-toggler-icon {
    background-image: url(../../public/assets/menu.png);
    transition: all .4s linear;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.rotate {
    transform: rotate(90deg);
}