:root {  
  --main-darkred: #c00;
  --main-red: #e30428;
  --main-black: #1d1d1d;
  --main-white: #fff;
}

/* navbar */
.navbar {
  font-family: 'Rubik', sans-serif;
  background-color: var(--main-black) !important;
}
.navbar a {
  color: var(--main-white);
  text-decoration: none;
  font-size: 1rem;
}
.logo {
  width: 8rem;
}
.dropdown {  
  margin: 0 1rem 0 1rem;
}
.dropdown-menu a {
  color: var(--main-black);
  display: block;
  padding: 6px 20px;
  transition: all .3s;
  font-size: .9rem;
}
.dropdown-menu a:hover {
  color: var(--main-red);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-toggle:hover {
  color: var(--main-red);
  transition: all .3s;
}

/* Icons */

.icons {  
  display: block;
  float: left;
  height: 37px;
  width: 37px;
}

.pc-icon {
  background: url(/src/components/icono-pcv2.png) center center no-repeat;
}
.ps-icon {
  background: url(/src/components/icono-ps4v2.png) center center no-repeat;
}
.switch-icon {
  background: url(/src/components/icono-switchv2.png) center center no-repeat;
}
.xbox-icon {
  background: url(/src/components/icono-xbox.png) center center no-repeat;
}